html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgba(21, 35, 71, 0.2);
}

.container {
  background-color: transparent;
}
.titulo {
  color: purple;
}

.mensagens {
  font-size: 30px;
  color: white;
  font-style: italic;
}
.container-mensagem {
  display: flex;
  align-items: baseline;
}
.doispontos {
  color: white;
}
